Django==4.2.7
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
beautifulsoup4==4.12.2
openpyxl==3.1.2
python-decouple==3.8
psycopg==3.1.18
gunicorn==21.2.0
whitenoise==6.6.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
Faker==24.8.0
